.center {
    text-align: center;
}

.flag {
    width: 250px;
    border: solid black 1.5px;
}

.yellow-underline {
    text-decoration: underline; 
    background-color: yellow; 
    font-size: 25px;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #39558c;
    padding: 10px;
    text-align: center;
}

body {
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 20px;
    padding-left: 92px; padding-right: 92px; padding-bottom: 60px; padding-top: 60px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-list {
    list-style-position: inside;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.a {
    list-style-type: none;
}
.b :before {
    content: "a) ";
}

.img2 {
    height: 200px;
}